*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font: 16px normal, Arial;
}

main { margin: 20px; }

.task-app {
	display: flex;
	flex-wrap: wrap;
	padding: 8px;
}
.task-app h3 { flex: 0 0 100%; }

.add-task-input {
	padding: 2px 4px;
	outline: none;
}

.tasks-list { margin:0; }

.remove-task {
	padding: 2px;
	margin-right: 2px;
	cursor: pointer;
}
